<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools"> <h2>Crea nuovo progetto</h2>
            <md-button ng-click="closeDialog()" aria-label="chiudi modal">
                <img class="png-icon" src="static/source/icons/Close_Button_red.png" aria-label="x" style="width: 24px; height: 24px;">
            </md-button>
        </div>
    </md-toolbar><br>

    <md-dialog-content style="width:800px; height:810px; padding:30px;">
        <form name="datiProgetto">
            Inserisci il nome del progetto<br/>
            <md-input-container>
                <input ng-model="nomeProgetto" aria-label="nome del progetto">
            </md-input-container><br/>
            Inserisci una descrizione del progetto<br/>
            <md-input-container>
                <textarea ng-model="descrizioneProgetto" aria-label="descrizione del progetto"></textarea><br/>
            </md-input-container><br/>
            Inserisci il nome del database<br/>
            <md-input-container>
                <input ng-model="nomeDB" aria-label="nome del DB">
            </md-input-container><br/>
            <md-input-container>
                <label>scegli DB</label>
                <md-select ng-model="dbms" aria-label="scegli database">
                    <md-option ng-repeat="db in supportedDB" value="{{ db }}">{{ db }}</md-option>
                </md-select>
            </md-input-container><br/>
            <md-button ng-click="newProject()">Crea</md-button>
        </form>
    </md-dialog-content>
</md-dialog>
</body>
</html>