<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools"> <h2>Apri un progetto</h2>
            <md-button ng-click="closeDialog()" aria-label="chiudi modal">
                <img class="png-icon" src="static/source/icons/Close_Button_red.png" aria-label="x" style="width: 24px; height: 24px;">
            </md-button>
        </div>
    </md-toolbar>

    <md-content style="width:800px; height:810px; padding:30px;">
        <md-list>
            <md-subheader>Scegli il progetto da aprire</md-subheader>
            <md-list-item  class="md-3-line" ng-repeat="pro in progetti" ng-click="openPro(pro)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ pro.fields.name_project }}</h3>
                    <h4>{{ pro.fields.dbms }}</h4>
                    <p>{{ pro.fields.created_date }}</p>
                </div>
            </md-list-item>
        </md-list>

    </md-content>
</md-dialog>

</body>
</html>